# Description

Changes made (from the 3.20.0):

* No log transformation in target variable

# Preprocessing

In [1]:
import os
import pandas as pd

train_data_file = os.path.join('..', '..', '..', '..', 'data', 'raw', 'train.csv')
train_data = pd.read_csv(train_data_file, index_col=0, low_memory=False)
validation_data_file = os.path.join('..', '..', '..', '..', 'data', 'interim', 'all_test_3h.csv')
validation_data = pd.read_csv(validation_data_file, low_memory=False)

In [2]:
from pipelines import preprocessing_pipeline, standardization_pipeline

train_data = preprocessing_pipeline.fit_transform(train_data)
validation_data = preprocessing_pipeline.transform(validation_data)

In [3]:
train_data.head()

,bg-3:00,bg-2:55,bg-2:50,bg-2:45,bg-2:40,bg-2:35,bg-2:30,bg-2:25,bg-2:20,bg-2:15,...,cals-0:35,cals-0:30,cals-0:25,cals-0:20,cals-0:15,cals-0:10,cals-0:05,cals-0:00,bg+1:00,hour
id,,,,,,,,,,,,,,,,,,,,,
p01_0,13.9,14.000000,14.100000,14.2,14.200000,14.200000,14.2,14.600000,15.000000,15.4,...,6.18,6.18,6.18,6.18,6.18,6.18,6.18,6.18,13.4,06
p01_1,14.2,14.200000,14.200000,14.2,14.600000,15.000000,15.4,16.000000,16.600000,17.2,...,6.18,6.18,6.18,6.18,6.18,6.18,6.18,6.18,12.8,06
p01_2,14.2,14.600000,15.000000,15.4,16.000000,16.600000,17.2,17.533333,17.866667,18.2,...,6.18,6.18,6.18,6.18,6.18,6.18,6.18,6.18,15.5,06
p01_3,15.4,16.000000,16.600000,17.2,17.533333,17.866667,18.2,18.266667,18.333333,18.4,...,6.18,6.18,6.18,6.18,6.18,6.18,6.18,6.18,14.8,06
p01_4,17.2,17.533333,17.866667,18.2,18.266667,18.333333,18.4,18.266667,18.133333,18.0,...,6.18,6.18,6.18,6.18,6.18,6.18,6.18,6.18,12.7,07

In [4]:
train_data = standardization_pipeline.fit_transform(train_data)
train_data.head()

,bg-3:00,bg-2:55,bg-2:50,bg-2:45,bg-2:40,bg-2:35,bg-2:30,bg-2:25,bg-2:20,bg-2:15,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
id,,,,,,,,,,,,,,,,,,,,,
p01_0,1.878882,1.914225,1.946936,1.978878,1.980954,1.980283,1.978648,2.114528,2.247568,2.379330,...,0,0,0,0,0,0,0,0,0,0
p01_1,1.979108,1.981111,1.980367,1.978878,2.114725,2.247740,2.379515,2.582721,2.782488,2.980636,...,0,0,0,0,0,0,0,0,0,0
p01_2,1.979108,2.114884,2.247818,2.379763,2.582926,2.782656,2.980816,3.095503,3.205967,3.314694,...,0,0,0,0,0,0,0,0,0,0
p01_3,2.380012,2.583089,2.782720,2.981091,3.095717,3.206131,3.314872,3.340746,3.361985,3.381506,...,0,0,0,0,0,0,0,0,0,0
p01_4,2.981368,3.095885,3.206184,3.315162,3.340964,3.362148,3.381683,3.340746,3.295120,3.247882,...,0,0,0,0,0,0,0,0,0,0

In [5]:
validation_data.head()

,bg-3:00,bg-2:55,bg-2:50,bg-2:45,bg-2:40,bg-2:35,bg-2:30,bg-2:25,bg-2:20,bg-2:15,...,cals-0:35,cals-0:30,cals-0:25,cals-0:20,cals-0:15,cals-0:10,cals-0:05,cals-0:00,bg+1:00,hour
0,9.20,9.20,9.53,9.87,10.20,10.23,10.27,10.30,10.27,10.23,...,4.80,7.89,7.98,4.8,4.8,4.8,4.8,4.8,13.73,03
1,9.20,9.53,9.87,10.20,10.23,10.27,10.30,10.27,10.23,10.20,...,7.89,7.98,4.80,4.8,4.8,4.8,4.8,4.9,13.70,03
2,9.53,9.87,10.20,10.23,10.27,10.30,10.27,10.23,10.20,10.70,...,7.98,4.80,4.80,4.8,4.8,4.8,4.9,4.8,13.77,04
3,9.87,10.20,10.23,10.27,10.30,10.27,10.23,10.20,10.70,11.20,...,4.80,4.80,4.80,4.8,4.8,4.9,4.8,4.8,13.83,04
4,10.20,10.23,10.27,10.30,10.27,10.23,10.20,10.70,11.20,11.70,...,4.80,4.80,4.80,4.8,4.9,4.8,4.8,4.8,13.90,04