# Preprocessing

* Same as 3.22 with more validation data (4:00 instead of 4:55)
* Use unseen data only for validation

In [1]:
import os
import pandas as pd
from pipelines import standardization_pipeline, preprocessing_pipeline

train_data_file = os.path.join('..', '..', '..', '..', 'data', 'raw', 'train.csv')
train_data = pd.read_csv(train_data_file, index_col=0, low_memory=False)

validation_data_file = os.path.join('..', '..', '..', '..', 'data', 'interim', 'all_test_4h.csv')
validation_data = pd.read_csv(validation_data_file, index_col=0, low_memory=False)

additional_train_data_file = os.path.join('..', '..', '..', '..', 'data', 'interim', 'all_test_3h.csv')
additional_train_data = pd.read_csv(additional_train_data_file, index_col=0, low_memory=False)
# remove from additional data patients that are not in validation data ids
additional_train_data = additional_train_data[~additional_train_data.index.isin(validation_data.index.unique())]

# merge train and additional data
train_data = pd.concat([train_data, additional_train_data], axis=0)

# do not train with patients that are not have to be predicted
test_data_file = os.path.join('..', '..', '..', '..', 'data', 'raw', 'test.csv')
test_data = pd.read_csv(test_data_file, index_col=0, low_memory=False)

unique_patients = test_data['p_num'].unique()
train_data = train_data[train_data['p_num'].isin(unique_patients)]
validation_data = validation_data[validation_data['p_num'].isin(unique_patients)]
test_data = test_data[test_data['p_num'].isin(unique_patients)]

train_data.head()

,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
id,,,,,,,,,,,,,,,,,,,,,
p01_0,p01,06:10:00,NaN,NaN,9.6,NaN,NaN,9.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4
p01_1,p01,06:25:00,NaN,NaN,9.7,NaN,NaN,9.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8
p01_2,p01,06:40:00,NaN,NaN,9.2,NaN,NaN,8.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5
p01_3,p01,06:55:00,NaN,NaN,8.7,NaN,NaN,8.4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8
p01_4,p01,07:10:00,NaN,NaN,8.4,NaN,NaN,8.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7

In [2]:
from pipelines import preprocessing_pipeline, standardization_pipeline, pipeline
train_data = preprocessing_pipeline.fit_transform(train_data)
validation_data = preprocessing_pipeline.transform(validation_data)

In [3]:
train_data.head()

,bg-3:00,bg-2:55,bg-2:50,bg-2:45,bg-2:40,bg-2:35,bg-2:30,bg-2:25,bg-2:20,bg-2:15,...,cals-0:35,cals-0:30,cals-0:25,cals-0:20,cals-0:15,cals-0:10,cals-0:05,cals-0:00,bg+1:00,hour
id,,,,,,,,,,,,,,,,,,,,,
p01_0,13.9,14.000000,14.100000,14.2,14.200000,14.200000,14.2,14.600000,15.000000,15.4,...,6.15,6.15,6.15,6.15,6.15,6.15,6.15,6.15,13.4,06
p01_1,14.2,14.200000,14.200000,14.2,14.600000,15.000000,15.4,16.000000,16.600000,17.2,...,6.15,6.15,6.15,6.15,6.15,6.15,6.15,6.15,12.8,06
p01_2,14.2,14.600000,15.000000,15.4,16.000000,16.600000,17.2,17.533333,17.866667,18.2,...,6.15,6.15,6.15,6.15,6.15,6.15,6.15,6.15,15.5,06
p01_3,15.4,16.000000,16.600000,17.2,17.533333,17.866667,18.2,18.266667,18.333333,18.4,...,6.15,6.15,6.15,6.15,6.15,6.15,6.15,6.15,14.8,06
p01_4,17.2,17.533333,17.866667,18.2,18.266667,18.333333,18.4,18.266667,18.133333,18.0,...,6.15,6.15,6.15,6.15,6.15,6.15,6.15,6.15,12.7,07

In [4]:
validation_data.head()

,bg-3:00,bg-2:55,bg-2:50,bg-2:45,bg-2:40,bg-2:35,bg-2:30,bg-2:25,bg-2:20,bg-2:15,...,cals-0:35,cals-0:30,cals-0:25,cals-0:20,cals-0:15,cals-0:10,cals-0:05,cals-0:00,bg+1:00,hour
id,,,,,,,,,,,,,,,,,,,,,
p01_test_48,11.2,11.7,12.3,12.9,13.5,14.1,14.7,15.3,15.2,15.1,...,4.8,4.8,4.8,4.8,4.8,4.9,4.8,4.8,12.97,04
p01_test_49,11.7,12.3,12.9,13.5,14.1,14.7,15.3,15.2,15.1,15.0,...,4.8,4.8,4.8,4.8,4.9,4.8,4.8,4.8,12.40,04
p01_test_50,12.3,12.9,13.5,14.1,14.7,15.3,15.2,15.1,15.0,14.8,...,4.8,4.8,4.8,4.9,4.8,4.8,4.8,4.8,11.77,05
p01_test_51,12.9,13.5,14.1,14.7,15.3,15.2,15.1,15.0,14.8,14.6,...,4.8,4.8,4.9,4.8,4.8,4.8,4.8,4.8,11.13,05
p01_test_52,13.5,14.1,14.7,15.3,15.2,15.1,15.0,14.8,14.6,14.4,...,4.8,4.9,4.8,4.8,4.8,4.8,4.8,4.8,10.50,05