# Preprocessing

* Variant I
    * Same as 3.25
    * LassoLarsIC HPT -> max_iter: 1000 -> 10000
    * log1p transformation of the target
    * score: 2.4792
* Variant II
    * Same as Variant I
    * min-max scaling of all the features instead of standardization
    * score: 2.4813

Conclusion:

For individual Models works best:
 
* StandardScaler over MinMaxScaler
* no log transformation 
* Models: XGB, HGB, LassoLarsIC

In [1]:
from data import load_data

train_data, test_data = load_data()
train_data.head()

,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
id,,,,,,,,,,,,,,,,,,,,,
p01_0,p01,06:10:00,NaN,NaN,9.6,NaN,NaN,9.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4
p01_1,p01,06:25:00,NaN,NaN,9.7,NaN,NaN,9.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8
p01_2,p01,06:40:00,NaN,NaN,9.2,NaN,NaN,8.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5
p01_3,p01,06:55:00,NaN,NaN,8.7,NaN,NaN,8.4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8
p01_4,p01,07:10:00,NaN,NaN,8.4,NaN,NaN,8.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7

In [2]:
from pipelines import preprocessing_pipeline

train_data = preprocessing_pipeline.fit_transform(train_data)
train_data.head()

,bg-2:00,bg-1:55,bg-1:50,bg-1:45,bg-1:40,bg-1:35,bg-1:30,bg-1:25,bg-1:20,bg-1:15,...,cals-0:35,cals-0:30,cals-0:25,cals-0:20,cals-0:15,cals-0:10,cals-0:05,cals-0:00,bg+1:00,hour
id,,,,,,,,,,,,,,,,,,,,,
p01_0,17.2,17.5,17.9,18.2,18.3,18.3,18.4,18.3,18.1,18.0,...,6.07,6.07,6.07,6.07,6.07,6.07,6.07,6.07,13.4,06
p01_1,18.2,18.3,18.3,18.4,18.3,18.1,18.0,17.8,17.5,17.3,...,6.07,6.07,6.07,6.07,6.07,6.07,6.07,6.07,12.8,06
p01_2,18.4,18.3,18.1,18.0,17.8,17.5,17.3,17.4,17.4,17.5,...,6.07,6.07,6.07,6.07,6.07,6.07,6.07,6.07,15.5,06
p01_3,18.0,17.8,17.5,17.3,17.4,17.4,17.5,17.4,17.4,17.3,...,6.07,6.07,6.07,6.07,6.07,6.07,6.07,6.07,14.8,06
p01_4,17.3,17.4,17.4,17.5,17.4,17.4,17.3,16.9,16.6,16.2,...,6.07,6.07,6.07,6.07,6.07,6.07,6.07,6.07,12.7,07

In [3]:
from pipelines import standardization_pipeline

train_data = standardization_pipeline.fit_transform(train_data)
train_data.head()

,bg-2:00,bg-1:55,bg-1:50,bg-1:45,bg-1:40,bg-1:35,bg-1:30,bg-1:25,bg-1:20,bg-1:15,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
id,,,,,,,,,,,,,,,,,,,,,
p01_0,2.787336,2.886563,3.014918,3.110415,3.145659,3.145481,3.176226,3.146905,3.082133,3.048104,...,0,0,0,0,0,0,0,0,0,0
p01_1,3.107238,3.142752,3.143014,3.174445,3.145659,3.081397,3.048118,2.986641,2.889863,2.823945,...,0,0,0,0,0,0,0,0,0,0
p01_2,3.171219,3.142752,3.078966,3.046385,2.985433,2.889145,2.823928,2.858430,2.857818,2.887990,...,0,0,0,0,0,0,0,0,0,0
p01_3,3.043258,2.982634,2.886821,2.822280,2.857253,2.857103,2.887982,2.858430,2.857818,2.823945,...,0,0,0,0,0,0,0,0,0,0
p01_4,2.819326,2.854539,2.854797,2.886310,2.857253,2.857103,2.823928,2.698166,2.601457,2.471695,...,0,0,0,0,0,0,0,0,0,0