# Preprocessing

In [1]:
import os
import pandas as pd
import numpy as np

data_file = os.path.join('..', '..', '..', '..', 'data', 'raw', 'train.csv')
df = pd.read_csv(data_file, index_col=0)
df.head()

/var/folders/g7/z7m625rj50d5ptztzplh4wgc0000gn/T/ipykernel_5018/33917844.py:6: DtypeWarning: Columns (435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_file, index_col=0)

,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
id,,,,,,,,,,,,,,,,,,,,,
p01_0,p01,06:10:00,NaN,NaN,9.6,NaN,NaN,9.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4
p01_1,p01,06:25:00,NaN,NaN,9.7,NaN,NaN,9.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8
p01_2,p01,06:40:00,NaN,NaN,9.2,NaN,NaN,8.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5
p01_3,p01,06:55:00,NaN,NaN,8.7,NaN,NaN,8.4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8
p01_4,p01,07:10:00,NaN,NaN,8.4,NaN,NaN,8.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7

In [2]:
from pipelines import preprocessing_pipeline
df = preprocessing_pipeline.fit_transform(df)
display(df.head())
df.describe()

      day_phase  bg-0:00  insulin-0:00  hr-0:00  cals-0:00  bg+1:00
id
p01_0   morning     15.1        0.0417     99.6        4.8     13.4
p01_1   morning     14.4        0.0417     99.6        4.8     12.8
p01_2   morning     13.9        0.0417     99.6        4.8     15.5
p01_3   morning     13.8        0.0417     99.6        4.8     14.8
p01_4   morning     13.4        0.0417     99.6        4.8     12.7

,bg-0:00,insulin-0:00,hr-0:00,cals-0:00,bg+1:00
count,177024.000000,177024.000000,177024.000000,177024.000000,177024.000000
mean,8.278450,0.193259,81.442459,8.294553,8.277045
std,2.998289,0.993948,19.524431,7.623500,2.996398
min,2.200000,0.000000,39.000000,0.030000,2.200000
25%,6.100000,0.029200,67.100000,4.800000,6.100000
50%,7.700000,0.072900,78.500000,6.000000,7.700000
75%,9.900000,0.108300,92.400000,8.280000,9.900000
max,27.800000,46.311000,185.300000,116.100000,27.800000

In [3]:
from pipelines import standardization_pipeline
df = standardization_pipeline.fit_transform(df)
display(df.head())
df.describe()

,bg-0:00,insulin-0:00,hr-0:00,cals-0:00,bg+1:00,day_phase_evening,day_phase_morning,day_phase_night,day_phase_noon
id,,,,,,,,,
p01_0,2.275154,-0.152482,0.929993,-0.458394,13.4,False,True,False,False
p01_1,2.041687,-0.152482,0.929993,-0.458394,12.8,False,True,False,False
p01_2,1.874925,-0.152482,0.929993,-0.458394,15.5,False,True,False,False
p01_3,1.841572,-0.152482,0.929993,-0.458394,14.8,False,True,False,False
p01_4,1.708162,-0.152482,0.929993,-0.458394,12.7,False,True,False,False

            bg-0:00  insulin-0:00       hr-0:00     cals-0:00        bg+1:00
count  1.770240e+05  1.770240e+05  1.770240e+05  1.770240e+05  177024.000000
mean   4.354194e-16  3.724826e-17  5.137692e-18  4.623922e-17       8.277045
std    1.000003e+00  1.000003e+00  1.000003e+00  1.000003e+00       2.996398
min   -2.027312e+00 -1.944360e-01 -2.173819e+00 -1.084092e+00       2.200000
25%   -7.265666e-01 -1.650581e-01 -7.345924e-01 -4.583935e-01       6.100000
50%   -1.929274e-01 -1.210919e-01 -1.507069e-01 -3.009851e-01       7.700000
75%    5.408266e-01 -8.547622e-02  5.612237e-01 -1.908993e-03       9.900000
max    6.510916e+00  4.639869e+01  5.319378e+00  1.414124e+01      27.800000